body{
    color: black;
    background-color: aqua;
    margin: 40px 30px 30px 30px;    
}

.button{
    background-color: green;    
    color: yellow;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textbox
{
    background-color: lightpink;    
}

label{
    width: 150px;
    display: inline-block;
}